html {
  font-family: 'Poppins';
}
h1 {
  font-weight: bold;
  font-size: 48px;
  font-family: 'Poppins';
}
h2 {
  font-weight: lighter;
  font-size: 36px;
  font-family: 'Poppins';
}
.subtitles {
  font-weight: lighter;
  font-size: 24px;
}
.body {
  font-size: 16px;
}
.label {
  font-weight: bold;
  font-size: 16px;
}
.btn-txt {
  font-weight: bold;
  font-size: 16px;
}
.foot-txd {
  font-weight: bold;
  font-size: 12px;
}
.active-btn-lg {
  border-radius: 8px;
  background-color: #191C48;
  color: white;
  width: auto;
  height: 30px;
}
.hover-btn-lg {
  color: red;
}
.inactive-btn-lg {
  border-radius: 8px;
  background-color: #191C48;
  color: white;
  width: auto;
  height: 30px;
  background-color: #7c718d;
}
.active-btn-sm {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  background-color: #191C48;
  color: white;
  width: 155px;
  height: 40px;
}
.hover-btn-sm {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  background-color: #191C48;
  color: white;
  width: 155px;
  height: 40px;
  color: red;
}
.inactive-btn-sm {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  background-color: #191C48;
  color: white;
  width: 155px;
  height: 40px;
  background-color: #7c718d;
}
.box_shape {
  padding: 2px 5px 2px 5px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
}
.label {
  padding: 2px 5px 2px 5px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  border: #191C48;
}
.success {
  padding: 2px 5px 2px 5px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  border: lightgreen;
}
.error {
  padding: 2px 5px 2px 5px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  border: red;
}
.container-abt {
  width: 100%;
}
.container-abt .header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #142051;
  width: 100%;
  max-width: 1200px;
}
.container-abt .header h2 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #FE7A7C;
  font-size: 36px;
  line-height: 54px;
  width: 110px;
  height: 54px;
  margin: 0;
  padding-left: 20px;
}
.container-abt .header .nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 75%;
  margin: 2 1 0 3;
}
.container-abt .header .nav a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 27px;
}
.container-abt .top-content h1 {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 72px;
  color: #142051;
}
.container-abt .about .UX {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.container-abt .about .UX h1 {
  text-align: center;
  color: #191C48;
  font-family: 'Poppins';
  text-decoration: underline;
}
.container-abt .about .UX .bom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-abt .about .UX .bom h3 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.4rem;
  color: #191C48;
}
.container-abt .about .UX .bom img {
  width: 300px;
  height: auto;
}
.container-abt .about .UX .bom a {
  color: #142051;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.2rem;
  line-height: 20px;
  padding-top: 10px;
}
.container-abt .about .ui {
  padding-bottom: 50px;
}
.container-abt .about .ui h1 {
  text-align: center;
  color: #191C48;
  font-family: 'Poppins';
  text-decoration: underline;
}
.container-abt .about .ui .ui-members {
  display: flex;
  justify-content: space-evenly;
}
.container-abt .about .ui .ui-members .licea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-abt .about .ui .ui-members .licea h3 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.4rem;
  color: #191C48;
}
.container-abt .about .ui .ui-members .licea img {
  width: 300px;
  height: auto;
}
.container-abt .about .ui .ui-members .licea a {
  color: #142051;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.2rem;
  line-height: 20px;
  padding-top: 10px;
}
.container-abt .about .ui .ui-members .schmidt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-abt .about .ui .ui-members .schmidt h3 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.4rem;
  color: #191C48;
}
.container-abt .about .ui .ui-members .schmidt img {
  width: 300px;
  height: auto;
}
.container-abt .about .ui .ui-members .schmidt a {
  color: #142051;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.2rem;
  line-height: 20px;
  padding-top: 10px;
}
.container-abt .about .front {
  padding-bottom: 20px;
}
.container-abt .about .front h1 {
  text-align: center;
  color: #191C48;
  font-family: 'Poppins';
  text-decoration: underline;
}
.container-abt .about .front .front-mem {
  display: flex;
  justify-content: space-evenly;
}
.container-abt .about .front .front-mem .demetriou {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-abt .about .front .front-mem .demetriou h3 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.4rem;
  color: #191C48;
}
.container-abt .about .front .front-mem .demetriou img {
  width: 300px;
  height: auto;
}
.container-abt .about .front .front-mem .demetriou a {
  color: #142051;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.2rem;
  line-height: 20px;
  padding-top: 10px;
}
.container-abt .about .front .front-mem .adeniji {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-abt .about .front .front-mem .adeniji h3 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.4rem;
  color: #191C48;
}
.container-abt .about .front .front-mem .adeniji img {
  width: 300px;
  height: auto;
}
.container-abt .about .front .front-mem .adeniji a {
  color: #142051;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.2rem;
  line-height: 20px;
  padding-top: 10px;
}
.container-abt .about .front .front-mem .moore {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-abt .about .front .front-mem .moore h3 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.4rem;
  color: #191C48;
}
.container-abt .about .front .front-mem .moore img {
  width: 300px;
  height: auto;
}
.container-abt .about .front .front-mem .moore a {
  color: #142051;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.2rem;
  line-height: 20px;
  padding-top: 10px;
}
.container-abt .about .back {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.container-abt .about .back h1 {
  text-align: center;
  color: #191C48;
  font-family: 'Poppins';
  text-decoration: underline;
}
.container-abt .about .back .hamida {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-abt .about .back .hamida h3 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 1.4rem;
  color: #191C48;
}
.container-abt .about .back .hamida img {
  width: 300px;
  height: auto;
}
.container-abt .about .back .hamida a {
  color: #142051;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1.2rem;
  line-height: 20px;
  padding-top: 10px;
}
.container-abt .footer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #142051;
  width: 100%;
  max-width: 1200px;
}
.container-abt .footer .footernav {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}
.container-abt .footer .footernav a {
  color: white;
  font-family: 'Poppins';
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.container .maindiv1 {
  width: 50%;
  background-color: #191C48;
}
@media (max-width: 800px) {
  .container .maindiv1 {
    width: 100%;
  }
}
.container .maindiv1 h1 {
  margin-left: 7%;
  color: #FE7A7C;
  width: 70%;
  border-bottom: 3px solid white;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .container .maindiv1 h1 {
    margin: 2% 0 0 3%;
    border: 0;
    font-size: 2.2rem;
  }
}
.container .maindiv1 h2 {
  color: #FE7A7C;
  margin-left: 7%;
  width: 70%;
  margin-top: 1%;
}
@media (max-width: 800px) {
  .container .maindiv1 h2 {
    background-color: white;
    width: 100%;
    margin: 0;
    color: #191C48;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
  }
}
.container .maindiv2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container .maindiv2 {
    width: 100%;
  }
}
.container .maindiv2 form {
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .maindiv2 form label {
  max-width: 650px;
  margin-bottom: 0%;
  width: 90%;
  color: #142051;
  font-size: 1.3rem;
  font-weight: bold;
  padding: -2px -5px -2px -5px;
}
.container .maindiv2 form input {
  width: 90%;
  height: 40px;
  max-width: 650px;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 16px;
  border: #191C48;
  padding: 2px 5px 2px 5px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
}
#dash {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 800px) {
  #dash {
    height: auto;
  }
}
a {
  text-decoration: none;
}
#dashfoot {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  background-color: #191C48;
}
#dashfoot .footernav {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}
#dashfoot .footernav a {
  color: white;
  font-family: 'Poppins';
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}
.top-content {
  margin-top: 5%;
  margin-bottom: 5%;
}
.top-content h1 {
  width: 100%;
  font-size: 3.7rem;
  font-weight: lighter;
  text-align: center;
  margin: 0;
}
@media (max-width: 800px) {
  .top-content h1 {
    font-weight: bold;
    font-size: 2.5rem;
  }
}
.mid-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .mid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.mid-content .add-prod,
.mid-content .market,
.mid-content .listings,
.mid-content .profile {
  background-color: #191C48;
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .mid-content .add-prod,
  .mid-content .market,
  .mid-content .listings,
  .mid-content .profile {
    width: 80%;
    min-width: 400px;
    max-width: 650px;
    border-radius: 12px;
  }
}
.mid-content .add-prod h5,
.mid-content .market h5,
.mid-content .listings h5,
.mid-content .profile h5 {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.mid-content .add-prod h5:hover,
.mid-content .market h5:hover,
.mid-content .listings h5:hover,
.mid-content .profile h5:hover {
  color: red;
}
@media (max-width: 800px) {
  .mid-content .add-prod h5,
  .mid-content .market h5,
  .mid-content .listings h5,
  .mid-content .profile h5 {
    font-size: 1.5rem;
  }
}
.mid-content .add-prod p,
.mid-content .market p,
.mid-content .listings p,
.mid-content .profile p {
  color: white;
}
.mid-content .add-prod img,
.mid-content .market img,
.mid-content .listings img,
.mid-content .profile img {
  color: #191C48;
}
#home {
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
}
.container .header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #142051;
  width: 100%;
  max-width: 1200px;
}
.container .header h2 {
  font-family: 'Poppins';
  font-weight: bold;
  color: #FE7A7C;
  font-size: 36px;
  line-height: 54px;
  width: 110px;
  height: 54px;
  margin: 0;
}
@media (max-width: 500px) {
  .container .header h2 {
    font-size: 2.2rem;
  }
}
.container .header .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2% 1% 0% 3%;
}
@media (max-width: 800px) {
  .container .header .nav {
    margin-left: 2%;
    width: 100%;
  }
}
.container .header .nav a {
  padding: 20px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 27px;
}
.container .sub-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 800px) {
  .container .sub-head {
    align-items: left;
    width: 100%;
  }
}
.container .sub-head #sub-head-bg {
  position: absolute;
  z-index: -1;
  max-width: 1200px;
  width: 100%;
  padding: 0;
  top: 70px;
}
@media (max-width: 800px) {
  .container .sub-head #sub-head-bg {
    top: 50px;
    min-width: 60%;
    height: auto;
  }
}
.container .sub-head h1 {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 72px;
  color: #FFFFFF;
  width: 46%;
  text-align: center;
}
@media (max-width: 800px) {
  .container .sub-head h1 {
    font-size: 2rem;
    text-align: left;
    width: 90%;
    font-size: 1.5;
  }
}
@media (max-width: 500px) {
  .container .sub-head h1 {
    font-size: 1.3rem;
    height: 50px;
  }
}
.container .sub-head p {
  margin-top: 0;
  width: 46%;
  font-family: 'Poppins';
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  padding-bottom: 50px;
}
@media (max-width: 800px) {
  .container .sub-head p {
    width: 90%;
    line-height: 120%;
    font-size: 1rem;
    justify-content: right;
    text-align: left;
    margin-left: 4%;
  }
}
.container .sub-head h3 {
  margin-top: 10%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 36px;
  color: #191C48;
  text-align: center;
  padding-bottom: 0;
}
@media (max-width: 800px) {
  .container .sub-head h3 {
    margin-top: 20%;
    font-size: 1.4rem;
  }
}
.container .Services {
  display: flex;
  margin: 0 auto;
  margin-top: 10%;
  justify-content: space-around;
  max-width: 1500px;
}
@media (max-width: 800px) {
  .container .Services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container .Services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.container .Services .mobile {
  width: 20%;
}
@media (max-width: 800px) {
  .container .Services .mobile {
    width: 60%;
  }
}
.container .Services .mobile .mobile-img img {
  width: 65px;
}
.container .Services .mobile h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #191C48;
}
.container .Services .mobile p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #191C48;
}
@media (max-width: 800px) {
  .container .Services .mobile p {
    width: 60%;
    margin-bottom: 5%;
  }
}
.container .Services .trading {
  width: 20%;
}
@media (max-width: 800px) {
  .container .Services .trading {
    width: 60%;
  }
}
.container .Services .trading h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #191C48;
}
.container .Services .trading p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #191C48;
}
.container .Services .market {
  width: 20%;
}
@media (max-width: 800px) {
  .container .Services .market {
    width: 60%;
  }
}
.container .Services .market h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #191C48;
}
.container .Services .market p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #191C48;
}
.container .sign-up {
  display: flex;
  justify-content: center;
  margin: 125px 0 125px 0;
}
.container .sign-up button {
  background-color: #191C48;
  border: none;
  padding: 15px 63px;
  color: #191C48;
  border-radius: 8px;
}
.container .sign-up a {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  background-color: #191C48;
  color: white;
  width: 155px;
  height: 40px;
}
.container .sign-up a:hover {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  background-color: #191C48;
  color: white;
  width: 155px;
  height: 40px;
  color: red;
}
.container h3 {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #191C48;
  padding-bottom: 100px;
}
.container .review {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 200px;
}
@media (max-width: 800px) {
  .container .review {
    display: none;
  }
}
.container .review .review-1 {
  width: 35%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #818181;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding: 10px 20px;
}
.container .review .review-1 p {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.container .review .review-1 h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #191C48;
}
.container .review .review-2 {
  width: 35%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #818181;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding: 10px 20px;
}
.container .review p {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.container .review h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #191C48;
}
@media (max-width: 800px) {
  #reviewh3 {
    display: none;
  }
}
footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  background-color: #191C48;
}
footer .footernav {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}
footer .footernav a {
  color: white;
  font-family: 'Poppins';
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}
html {
  height: 100%;
  background-color: white;
}
html body {
  margin: 0;
  height: 100%;
}
html body ._container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
@media (max-width: 800px) {
  html body ._container {
    flex-direction: column;
  }
}
html body ._container .mainsec1 {
  background-color: #191C48;
  width: 50%;
  height: auto;
}
@media (max-width: 800px) {
  html body ._container .mainsec1 {
    width: 100%;
  }
}
html body ._container .mainsec1 a {
  text-decoration: none;
}
html body ._container .mainsec1 a h1 {
  color: #FE7A7C;
  width: 70%;
  border-bottom: white 3px solid;
  margin-left: 7%;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  html body ._container .mainsec1 a h1 {
    margin: 2% 0 0 3%;
    border: 0;
    font-size: 2.2rem;
  }
}
html body ._container .mainsec1 h2 {
  color: #FE7A7C;
  margin-left: 7%;
  width: 70%;
  margin-top: 1%;
}
@media (max-width: 800px) {
  html body ._container .mainsec1 h2 {
    background-color: white;
    width: 100%;
    margin: 0;
    color: #191C48;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
  }
}
html body ._container .mainsec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50%;
  height: auto;
}
@media (max-width: 800px) {
  html body ._container .mainsec2 {
    width: 100%;
    height: 100%;
  }
}
html body ._container .mainsec2 #more-btn {
  border-radius: 8px;
  background-color: #191C48;
  color: white;
  width: auto;
  height: 30px;
  background-color: #7c718d;
  align-self: flex-end;
  margin-right: 20%;
  border-radius: 10px;
  width: 25%;
  height: 40px;
  font-size: 1rem;
  font-weight: bolder;
}
@media (max-width: 800px) {
  html body ._container .mainsec2 #more-btn {
    width: 15%;
    height: 35px;
    font-size: 0.8rem;
  }
}
.maindivz {
  width: 72%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #142051;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 3%;
}
@media (max-width: 800px) {
  .maindivz {
    width: 85%;
  }
}
.maindivz button {
  border-radius: 7px;
  height: 35px;
  border-radius: 8px;
  background-color: #191C48;
  color: white;
  width: auto;
  height: 30px;
  width: 150px;
}
.maindivz button a {
  width: 30%;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
}
.maindivz button a:hover {
  color: red;
}
@media (max-width: 800px) {
  .maindivz button a {
    height: 35px;
    font-size: 0.8rem;
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.container .maindiv1 {
  width: 50%;
  background-color: #191C48;
}
@media (max-width: 800px) {
  .container .maindiv1 {
    width: 100%;
  }
}
.container .maindiv1 h1 {
  margin-left: 7%;
  color: #FE7A7C;
  width: 70%;
  border-bottom: 3px solid white;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .container .maindiv1 h1 {
    margin: 2% 0 0 3%;
    border: 0;
    font-size: 2.2rem;
  }
}
.container .maindiv1 h2 {
  color: #FE7A7C;
  margin-left: 7%;
  width: 70%;
  margin-top: 1%;
}
@media (max-width: 800px) {
  .container .maindiv1 h2 {
    background-color: white;
    width: 100%;
    margin: 0;
    color: #191C48;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
  }
}
.container .maindiv2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container .maindiv2 {
    width: 100%;
  }
}
.container .maindiv2 form {
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .maindiv2 form label,
.container .maindiv2 form select,
.container .maindiv2 form option {
  max-width: 650px;
  margin-bottom: 0%;
  width: 90%;
  color: #142051;
  font-size: 1.3rem;
  font-weight: bold;
  padding: -2px -5px -2px -5px;
}
.container .maindiv2 form input {
  width: 90%;
  height: 40px;
  max-width: 650px;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 16px;
  border: #191C48;
  padding: 2px 5px 2px 5px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.container .maindiv1 {
  width: 50%;
  background-color: #191C48;
}
@media (max-width: 800px) {
  .container .maindiv1 {
    width: 100%;
  }
}
.container .maindiv1 h1 {
  margin-left: 7%;
  color: #FE7A7C;
  width: 70%;
  border-bottom: 3px solid white;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .container .maindiv1 h1 {
    border: none;
  }
}
.container .maindiv1 h2 {
  color: #FE7A7C;
  margin-left: 7%;
  width: 70%;
  margin-top: 1%;
}
@media (max-width: 800px) {
  .container .maindiv1 h2 {
    background-color: white;
    width: 100%;
    margin: 0;
    color: #191C48;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
  }
}
.container maindiv2 {
  width: 50%;
}
@media (max-width: 800px) {
  .container maindiv2 {
    width: 100%;
  }
}
.invisible {
  display: none;
}
.vert-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 800px) {
  .vert-container {
    height: auto;
  }
}
@media (max-width: 800px) {
  .horizontal {
    width: 100%;
  }
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.container .maindiv1 {
  width: 50%;
  background-color: #191C48;
}
@media (max-width: 800px) {
  .container .maindiv1 {
    width: 100%;
  }
}
.container .maindiv1 h1 {
  margin-left: 7%;
  color: #FE7A7C;
  width: 70%;
  border-bottom: 3px solid white;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .container .maindiv1 h1 {
    margin: 2% 0 0 3%;
    border: 0;
    font-size: 2.2rem;
  }
}
.container .maindiv1 h2 {
  color: #FE7A7C;
  margin-left: 7%;
  width: 70%;
  margin-top: 1%;
}
@media (max-width: 800px) {
  .container .maindiv1 h2 {
    background-color: white;
    width: 100%;
    margin: 0;
    color: #191C48;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
  }
}
.container .maindiv2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container .maindiv2 {
    width: 100%;
  }
}
.container .maindiv2 form {
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .maindiv2 form label {
  max-width: 650px;
  margin-bottom: 0%;
  width: 90%;
  color: #142051;
  font-size: 1.3rem;
  font-weight: bold;
  padding: -2px -5px -2px -5px;
}
.container .maindiv2 form input {
  width: 90%;
  height: 40px;
  max-width: 650px;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 16px;
  border: #191C48;
  padding: 2px 5px 2px 5px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
}
