#home{
    display: flex;
    flex-direction: column;

}
.container {
    width: 100%;
 
    

    .header {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #142051;
        width: 100%;
        max-width: 1200px;

        h2 {
            font-family: 'Poppins',;
            font-weight: bold;
            color: #FE7A7C;
            font-size: 36px;
            line-height: 54px;
            width: 110px;
            height: 54px;
            margin: 0;
            @media @phone{
                font-size: 2.2rem;
            }
            
        
        } //h2

        .nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 2% 1% 0% 3%;
            @media @tablet{
                margin-left: 2%;
                width: 100%;
                

            }
            @media @phone{
                
            }
            a {
                padding: 20px;
                color: #FFFFFF;
                text-decoration: none;
                font-family: 'Poppins',;
                font-size: .8rem;
                font-weight: 300;
                line-height: 27px;
            } // a
        } // Navbar
    } // Header

    .sub-head {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media @tablet {
            align-items: left;
            width: 100%;
        }
    #sub-head-bg{
        position: absolute;
        z-index: -1;
        max-width: 1200px;
        
        width: 100%;
        padding: 0;
        top: 70px;
        @media @tablet {
            top: 50px;
            min-width: 60%;
            height: auto;
        }


    }

    

        

        h1 {
            margin: 0;
            font-family: 'Poppins',;
            font-weight: 700;
            font-size: 1.9rem;
            line-height: 72px;
            color: #FFFFFF;
            width: 46%;
            text-align: center;
            @media @tablet{
                font-size: 2rem;
                text-align: left;
                width: 90%;
                font-size: 1.5;
            }

            @media @phone{
                font-size: 1.3rem;
                height: 50px;
            }
            
        } // h1

        p {
            margin-top: 0;
            width: 46%;
            font-family: 'Poppins',;
            font-weight: 100;
            font-size: 1.2rem;
            line-height: 36px;
            text-align: center;
            color: #FFFFFF;
            justify-content: center;
            padding-bottom: 50px;
            @media @tablet {
                width: 90%;
                line-height: 120%;
                font-size: 1rem;
                justify-content: right;
                text-align: left;
                margin-left: 4%;
            }
            @media @phone{
                
            }
        } // p

        h3 {
            margin-top: 10%;
            font-family: 'Poppins',;
            font-style: normal;
            font-weight: bold;
            font-size: 2rem;
            line-height: 36px;
            color: #191C48;
            text-align: center;
            padding-bottom: 0;
            @media @tablet {
                margin-top: 20%;
                font-size: 1.4rem;
                
                
            }
        } // h3
    } //sub-head

    
}
    .Services {
        display: flex;
    
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-around;
        max-width: 1500px;
        @media @tablet{
            display: flex;
            flex-direction:column;
            align-items: center;
            width: 100%;
        }
        @media @phone {
            display: flex;
            flex-direction:column;
            align-items: center;
            width: 100%;
        }


        .mobile {
            width: 20%;
            @media @tablet {
                width: 60%;
            }
            
            .mobile-img{
                img{
                    width:65px;
                }
            }

            
            h5 {
                font-family: 'Poppins',;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                color: #191C48;
            }

            p {
                
                font-family: 'Poppins',;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #191C48;
                @media @tablet{
                    width: 60%;
                    margin-bottom: 5%;
                }
            }
        } // Mobile

        .trading {
            width: 20%;
            @media @tablet {
                width: 60%;
            }

            h5 {
                font-family: 'Poppins',;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                color: #191C48;
            }

            p {
                font-family: 'Poppins',;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #191C48;

            }
        } // trading

        .market {
            width: 20%;
            @media @tablet {
                width: 60%;
            }

            h5 {
                font-family: 'Poppins',;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                color: #191C48;
            }

            p {
                font-family: 'Poppins',;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #191C48;
            }
        } // market
    } // services

    .sign-up {
        display: flex;
        justify-content: center;
        margin: 125px 0 125px 0;

        button {
            background-color: #191C48;
            border: none;
            padding: 15px 63px;
            color: #191C48;
            border-radius: 8px;
        }

        a {
            .active-btn-sm();
            &:hover{
                .hover-btn-sm();
            }
        } // a
    } // sign-up

    h3 {
        text-align: center;
        font-family: 'Poppins',;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #191C48;
        padding-bottom: 100px;
    } // h3
    
    .review {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin-bottom: 200px;
        max-width: 1200px;
        margin: 0 auto;
        @media @tablet {
            .invisible();
        }

        .review-1 {
            width: 35%;
            height: auto;
            box-sizing: border-box;
            border: 1px solid #818181;
            border-radius: 4px;
            background-color: #f1f1f1;
            padding: 10px 20px;
            @media @tablet {
                
            }

            p {
                font-family: 'Roboto',;
                font-style: italic;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
            }
            
            h6 {
                font-family: 'Poppins',;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                color: #191C48
            }
        }

        .review-2 {
            width: 35%;
            height: auto;
            box-sizing: border-box;
            border: 1px solid #818181;
            border-radius: 4px;
            background-color: #f1f1f1;
            padding: 10px 20px;
        }

        p {
            font-family: 'Roboto',;
            font-style: italic;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
        }

        h6 {
            font-family: 'Poppins',;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 27px;
            color: #191C48
        }
    }


#reviewh3{
    @media @tablet {
        .invisible();
    }
}

footer{
   position: sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #191C48;
    max-width: 1200px;
    margin: 0 auto;
        .footernav{
            width: 55%;
            display: flex;
            justify-content: space-evenly;
            a{
                color: @white;
                font-family: @Poppins;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: bold;
            
            }
        }
    
}