html {
  font-family: 'Poppins';
}
h1 {
  font-weight: bold;
  font-size: 48px;
  font-family: 'Poppins';
}
h2 {
  font-weight: lighter;
  font-size: 36px;
  font-family: 'Poppins';
}
.subtitles {
  font-weight: lighter;
  font-size: 24px;
}
.body {
  font-size: 16px;
}
.label {
  font-weight: bold;
  font-size: 16px;
}
.btn-txt {
  font-weight: bold;
  font-size: 16px;
}
.foot-txd {
  font-weight: bold;
  font-size: 12px;
}
.active-btn-lg {
  border-radius: 8px;
  background-color: #191C48;
  color: white;
  width: auto;
  height: 30px;
}
.hover-btn-lg {
  color: red;
}
.inactive-btn-lg {
  border-radius: 8px;
  background-color: #191C48;
  color: white;
  width: auto;
  height: 30px;
  background-color: #7c718d;
}
.active-btn-sm {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  background-color: #191C48;
  color: white;
  width: 155px;
  height: 40px;
}
.hover-btn-sm {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  background-color: #191C48;
  color: white;
  width: 155px;
  height: 40px;
  color: red;
}
.inactive-btn-sm {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  background-color: #191C48;
  color: white;
  width: 155px;
  height: 40px;
  background-color: #7c718d;
}
.box_shape {
  background-color: white;
  border: solid 1px;
}
.label {
  background-color: white;
  border: solid 1px;
  border: #191C48;
}
.success {
  background-color: white;
  border: solid 1px;
  border: lightgreen;
}
.error {
  background-color: white;
  border: solid 1px;
  border: red;
}
